* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --red: rgb(250, 6, 6);
    --red_transt: rgba(250, 6, 6, 0.5);
    --blue: rgb(155, 255, 255);
    --white: rgb(255, 255, 255);
    --white_transt: rgba(255, 255, 255, 0.05);
    --white_transt2: rgba(255, 255, 255, 0.5);
    --black__transt: rgba(0, 0, 0, 0.2);
}

body {
    height: 100vh;
    overflow: hidden;
    font-family: 'Playfair Display', serif;
    background: url(https://i.ibb.co/kxv2Km4/black-texture.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* Scrolling border at top of the page.*/
.scroll {
    position: absolute;
    height: 5px;
    width: 0px;
    background-color: var(--blue);
    box-shadow: 0 0 10px var(--blue), 0 0 30px var(--blue), 0 0 80px var(--blue);
    top: 0;
    left: 0;
    z-index: 2;
}

/* Div element that contains everything within the body.*/
.container {
    width: 100%;
    height: 100%;
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
}

/* Section element representing each page. */
.page {
    min-width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: 'Playfair Display', serif;
    display: flex;
    justify-content: center;
    border-right: 0.1rem solid var(--blue);
    border-left: 0.1rem solid var(--blue);
}

 .page--content {
    width: 99%;
    height: 75%;
    z-index: 2;
    margin-left: -96rem;
    margin-top: 8rem;
}

/* Home Section page 1 */
.header {
    border-bottom: 0.1rem solid var(--red);
    box-shadow: 0 0 10px var(--blue), 0 0 30px var(--blue), 0 0 80px var(--blue);;
    background: url(https://i.ibb.co/kxv2Km4/black-texture.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Playfair Display', serif;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: fixed;
}

.logo #initials {
    color: var(--red_transt);
    font-size: 4rem;
    font-weight:900;
    text-align: center;
}

.logo #name {
    color: var(--blue);
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    margin-top: -3.7rem;
    letter-spacing: 0.2rem;
}

.logo #proffession {
    border-top: 0.1rem solid var(--blue);
    color: var(--blue);
    font-size: 0.7rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
    margin-top: 0.6rem;
    text-align: center;
    text-transform: uppercase;
}

.nav {
    margin-bottom: 1rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
}

.nav ul {
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
}

.nav li {
    list-style-type: none;
    margin: 0 1.5rem;
}

.nav__link {
    color: var(--blue);
    font-size: 1rem;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    position: relative;
    text-align: center;
    transition: 0.1s;
    transition-delay: 0.1s;
}

.nav__link:hover {
    color: var(--blue);
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    transition-delay: 0s;
    text-shadow: 0 0 10px var(--blue), 0 0 30px var(--blue), 0 0 80px var(--blue);
    border-bottom: 0.1rem solid var(--blue);
}

.page__1 h3 {
    width: 100%;
    height: 100%;
    color: var(--white_transt);
    font-size: 18rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    padding-top: 4rem;
}

.page__1--banner {
    width: 99%;
    height: 79%;
    z-index: 2;
    margin-left: -96rem;
    margin-top: 9.4rem;
}

.greetings {
    font-family: lato;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: var(--blue);
    font-size: 8rem;
    text-align: center;
    height: 100%;
    
}

.letter {
    display: inline-block;
    position: relative;
    transform: translateY(-35rem);
    animation: fall 3.5s forwards;
}

@keyframes fall{
    100%{
        transform: translateY(0);
    }
}

.letter:nth-child(1){
    animation-delay: 0.4s;
}

.letter:nth-child(2){
    animation-delay: 0.6s;
}

.letter:nth-child(3){
    animation-delay: 0.8s;
}

.letter:nth-child(4){
    animation-delay: 1s;
}

.letter:nth-child(5){
    animation-delay: 1.2s;
}

.letter:nth-child(6){
    animation-delay: 1.4s;
}

.letter:nth-child(7){
    animation-delay: 1.6s;
}

.letter:nth-child(8){
    animation-delay: 1.8s;
}

.letter:nth-child(9){
    animation-delay: 2s;
}

.letter:nth-child(10){
    animation-delay: 2.2s;
}

.letter:nth-child(11){
    animation-delay: 2.4s;
}

.letter:nth-child(12){
    animation-delay: 2.6s;
}

.letter:nth-child(13){
    animation-delay: 2.8s;
}

.letter:nth-child(14){
    animation-delay: 3s;
}

.letter:hover {
    text-shadow: 0 0 10px var(--blue), 0 0 30px var(--blue), 0 0 80px var(--blue);
}

.splitter {
    font-size: 16rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

/* About Me Section page 2*/
.page__2 h3 {
    width: 100%;
    height: 100%;
    color: var(--white_transt);
    font-size: 18rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    padding-top: 4rem;
}

.page__2--content {
    color: var(--blue);
    font-size: 1.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 99%;
    height: 78%;
    z-index: 2;
    margin-left: -96rem;
    margin-top: 9.5rem;
}

.Q1__text {
    text-align: center;
    padding: 2rem;
}

.Q4__text {
    text-align: center;
    padding: 1.3rem;
}

.Q2__image--container, .Q3__image--container {
    border: 0.2rem solid var(--blue);
    border-top-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    width: 90%;
    height: 90%;
}

.Q2__image--container {
    background: url('https://i.ibb.co/wKsD33v/Gaming-PC.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.Q3__image--container {
    background: url('https://i.ibb.co/x66ZHgH/Motor-Pool.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.page__2--content div {
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Skills Section page 3 */
.page__3 h3 {
    width: 100%;
    height: 100%;
    color: var(--white_transt);
    font-size: 18rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    padding-top: 4rem;
}

.page__3--content {
    color: var(--blue);
    font-size: 2.5rem;
    display: flex;
    flex-direction: column;
    width: 99%;
    height: 78%;
    z-index: 2;
    margin-left: -96rem;
    margin-top: 9.5rem;
}

.top__text, .slide__show {
    width: 100%;
}

.top__text {
    height: 30%;
    text-align: center;
    padding: 1rem;
}

.slide__show {
 height: 70%;
 display: flex;
 justify-content: center;
 align-items: center;
}

.slides {
    height: 100%;
    width: 100%;
    list-style: none;
    display: flex;
    padding-bottom: 3rem;
    animation: scrolling 60s linear infinite;
    position: relative;
}

.slides img {
    width: 15rem;
}

.slides:hover {
    animation-play-state: paused;
    cursor: pointer;
}

@keyframes scrolling {
    0% {transform: translateX(0);}
    100% {transform: translateX(-200%);}
}

.slide {
    font-size: 10rem;
    width: 25%;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
}

/* Projects Section*/
.page__4 h3 {
    width: 100%;
    height: 100%;
    color: var(--white_transt);
    font-size: 18rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    padding-top: 4rem;
}

.page__4--content {
    color: var(--blue);
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 99%;
    height: 78%;
    z-index: 2;
    margin-left: -96rem;
    margin-top: 9.5rem;
    text-align: center;
}

.row {
    width: 100%;
}

.row__1, .row__3 {
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.row__2, .row__4 {
    height: 40%;
}

.row__2 img, .row__4 img {
    width: 10rem;
    margin-top: 5rem;
}

.row2:hover, .row4:hover {
    animation-play-state: paused;
}

/* Contact Section page 5*/
.page__5 h3 {
    width: 100%;
    height: 100%;
    color: var(--white_transt);
    font-size: 18rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    padding-top: 4rem;
}

.page__5--content {
    display: flex;
    width: 99%;
    height: 78%;
    z-index: 2;
    margin-left: -96rem;
    margin-top: 9.5rem;
}

.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.contact__container {
    width: 90%;
    height: 90%;
}

.input__group {
    margin-bottom: 2rem;
    position: relative;
}

input, textarea {
    width: 100%;
    padding: 1rem;
    outline: 0;
    border: 0.1rem solid var(--blue);
    color: var(--blue);
    background-color: var(--white_transt);
    font-size: 1rem;
}

textarea {
    width: 100%;
}

label {
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    padding: 0.5rem;
    color: var(--blue);
    cursor: text;
    transition: 0.2s;
}

button {
    padding: 0.5rem 0;
    color: var(--blue);
    background-color: var(--white_transt);
    border: 0.1rem solid var(--blue);
    width: 100%;
    cursor: pointer;
}

input:focus~label, textarea:focus~label,
input:valid~label, textarea:valid~label {
    top: -2rem;
    font-size: 1rem;
}

.row1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.row2, .row3 {
    flex-basis: 48%;
}











 
