* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: nunito;  
}

.div-1 {
    background: url("https://i.ibb.co/pbVgfpZ/header-splash-bg.png") no-repeat center;
    background-size:cover;
    background-position: bottom;
    width: 100%;
    height: 100vh;
    color: rgb(255, 255, 255);
}

.div-1 header {
    padding: 0 7rem;
}

.div-1 ul {
    display: flex;
    list-style-type: none;
    text-transform: uppercase;
    padding-top: 3rem;
    justify-content: space-evenly;
    font-weight: 800;
}

.text {
    padding-top: 2rem;
    transition: transform 0.1s;
}

.text:hover {
    color: rgb(17, 167, 134);
    cursor: pointer;
    transform: scale(1.5);
}

.content-main {
    width: 100%;
    height: 100vh;
    color: white;
    justify-content: space-between;
    text-align: center;
    margin: 5rem auto;
    padding: 6rem 0 0 0;
}

.content-main h1 {
    letter-spacing: 0.5rem;
    text-transform: uppercase;
    font-size: 3rem;
}

.content-main p {
    font-size: 1.5rem;
    font-weight: 100;
    font-family: sans-serif;
    letter-spacing: 2px;
}

.content-main button {
    border-radius: 2px;
    border-style: none;
    background-color:rgb(17, 167, 134);
    margin-top: 2rem;
    width: 11.5rem;
    height: 3rem;
    text-transform: uppercase;
    font-family: nunito;
    color: white;
    letter-spacing: 1px;
    font-weight: bold;
}

.content-main button:hover {
    background-color: rgba(17, 167, 134, 0.5);
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.div-1 ion-icon {
    width: 32px;
    height: 32px;
    margin-top: 11rem;
}

.div-2 {
    width: 100%;
    height: 75vh;
    background: #f7f7f7 url("https://i.ibb.co/hWXDDdF/hand-with-iphone.png") no-repeat 75% -80%;
}

.represent {
    width: 50%;
    padding: 8rem;
}

.div-2 h2 {
    color: rgb(17, 167, 134);
    text-transform: uppercase;
    letter-spacing: 2px;
}

.div-2 p {
    letter-spacing: 1px;
    padding: 1rem 0;
}

.div-2 button {
    border-radius: 2px;
    border-style: none;
    background-color:rgb(17, 167, 134);
    margin-top: 2rem;
    width: 11.5rem;
    height: 3rem;
    text-transform: uppercase;
    font-family: nunito;
    color: white;
    letter-spacing: 1px;
    font-weight: bold;
}

.div-2 button:hover {
    background-color: rgba(17, 167, 134, 0.5);
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.div-3 {
    width: 100%;
    height: 75vh;
    background-image: url("https://i.ibb.co/2jJwRTf/iphone-5c-flat.png");
    background-repeat: no-repeat;
    background-position: 10% -170%;
}

.div-3 h2 {
    text-transform: uppercase;
    color: rgb(17, 167, 134);
}

.design {
    width: 50%;
    padding: 8rem;
    float: right; 
}

#design {
    letter-spacing: 1px;
    padding: 1rem 0; 
}

.div-3  button {
    border-radius: 2px;
    border-style: none;
    background-color:rgb(17, 167, 134);
    margin-top: 2rem;
    width: 11.5rem;
    height: 3rem;
    text-transform: uppercase;
    font-family: nunito;
    color: white;
    letter-spacing: 1px;
    font-weight: bold;
}

.div-3 button:hover {
    background-color: rgba(17, 167, 134, 0.5);
    color: rgb(255, 255, 255);
    cursor: pointer;
}
.div-4 {
    width: 100%;
    height: 50vh;
    background-color: #f7f7f7;
    display: flex;
}

#div1 {
    text-align: center;
    padding: 5rem 3rem 0 3rem;
}

#div1 figure, h3, p {
    margin-top: 1rem;
}

#div1, #div2, #div3 {
    display: block;
    width: 30%;
    height: 50vh;
    margin-left: 1rem;
}

#div2, #div3 {
    padding-top: 2rem;  
}

#div2 img, #div3 img {
    width: 100%;
    transition: transform 0.1s;
}

#div2 img:hover {
    transform: scale(1.1);
}

#div3 img:hover {
    transform: scale(1.1);
}

.div-4 h3 {
    text-transform: uppercase;
    letter-spacing: 1px;
}

.div-4 p {
    letter-spacing: 1px;
}

.div-5 {
    background: url("https://i.ibb.co/wWgXTK7/newsletter-bg.png") no-repeat center;
    background-size:cover;
    width: 100%;
    height: 100vh;
    text-align: center;
    color: rgb(255, 255, 255);
}

.div-5 h3 {
    font-size: 2rem;
    text-transform: uppercase;
    padding-top: 20rem;
}

form {
    width: 50%;
    margin: 0 auto;
}

.subscribe {
    height: 60px;
    display: flex;
    justify-content: center;
}

.ion-icon {
    background: rgb(49, 51, 50);
    border-radius: 3px 0 0 3px;
    font-size: 2em;
    width: 60px;
    line-height: 60px;
    padding-left: 6px;
}

#email, .submit {
    border: none;
    outline: none;
}

#email {
    width: 0px;
    transition: 0.6s;
    text-transform: uppercase;
    font-family: nunito;
    font-weight: bold;
    letter-spacing: 1px;
    text-align: center;
}

.subscribe:hover > #email,#email:focus {
    width: 260px;
    padding: 0 10px;
}

.submit {
    background: rgb(17, 167, 134);
    border-radius: 0 3px 3px 0;
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    text-transform: uppercase;
    cursor: pointer;
    width: 60px;
    padding-left: 4px;
}

.div-5 ion-icon {
    font-size: 3rem;
    height: 60px;
    display: flex;
    justify-content: center;
    border: none;
    outline: none;
}

.div-6 {
    width: 100%;
    height: 50vh;
    background-color: #f7f7f7;
    text-align: center;
    padding: 5rem 5rem 0 5rem;
}

.div-6 h3 {
    text-transform: uppercase;
    width: 60%;
    margin: 0 auto;
}

.div-6 p {
    padding: 0 5rem 0 5rem;
    width: 60%;
    margin: 1rem auto;
}

.download {
    display: flex;
    height: 40px;
    justify-content: center;
    width: 60%;
    margin: 0 auto;
}

.applestore {
    margin-right: 0.5rem;
}

.playstore {
    margin-left: 0.5rem;
}

.button {
    display: inline-flex;
    height: 40px;
    padding: 0;
    background: rgb(17, 167, 134);
    border: none;
    outline: none;
    border-radius: 3px;
    font-family: nunito;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
}

.button:hover {
    background: rgb(17, 167, 134);
    background-color: rgba(17, 167, 134, 0.5);
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.button:active {
    background: rgb(7, 157, 124);
}

.button-text, .button-icon {
    display: inline-flex;
    align-items: center;
    padding: 0 24px;
    color: rgb(255, 255, 255);
    height: 100%;
}

.button-icon {
    font-size: 1.5rem;
    background: rgba(0, 0, 0, 0.08);
}

footer {
    display: flex;
    height: 25vh;
}

footer h3 {
    text-transform: uppercase;
}

.p {
    width: 50%;
    padding-left: 5rem;
}

.logo-img {
    width: 50%;
    text-align: right;
    padding: 1rem 5rem 0 0;
}

footer span {
    color: rgb(17, 167, 134);
}

footer p {
    font-weight: bold;
}





