* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: nunito;  
    font-size: 1rem;
    line-height: 1.4;
    display: flex;
    flex-direction: column;
}

header {
    background: url("https://i.ibb.co/pbVgfpZ/header-splash-bg.png") no-repeat center;
    background-size:cover;
    background-position: bottom;
    height: 45rem;
    width: 100%;
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
}

nav {
    width: 95%;
    margin: 0 auto;
}

header ul {
    display: flex;
    list-style-type: none;
    text-transform: uppercase;
    font-weight: 800;
    justify-content: space-around;
    align-items: center;
    padding-top: 2rem;
}

.text {
    transition: transform 0.1s;
}

.text:hover {
    color: rgb(17, 167, 134);
    cursor: pointer;
    transform: scale(1.5);
}

.content-main {
    width: 95%;
    color: white;
    text-align: center;
    margin: auto;
}

.content-main h1 {
    width: 95%;
    letter-spacing: 0.5rem;
    text-transform: uppercase;
    font-size: 3rem;
}

.content-main p {
    font-size: 1.5rem;
    font-weight: 100;
    font-family: sans-serif;
    letter-spacing: 0.1rem;
}

.content-main button {
    border-radius: 0.1rem;
    border-style: none;
    background-color:rgb(17, 167, 134);
    margin-top: 2rem;
    width: 11.5rem;
    height: 3rem;
    text-transform: uppercase;
    font-family: nunito;
    color: white;
    letter-spacing: 0.1rem;
    font-weight: bold;
}

.content-main button:hover {
    background-color: rgba(17, 167, 134, 0.5);
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.header-icons {
    text-align: center;
    padding-bottom: 2rem;
}

.header-icons i {
    color: rgb(255, 255, 255);
    font-size: 2rem;
    letter-spacing: 0.5rem;
}

.wrapper {
    width: 100%;
    font-family: nunito;
}

.represent {
    display: flex;
    height: 32rem;
    width: 100%;
    background: #f7f7f7 url("https://i.ibb.co/hWXDDdF/hand-with-iphone.png");
    background-repeat: no-repeat;
    background-position: relative;
    background-position: 80% -55%;
}

.represent .content {
    width: 40%;
    padding: 9rem 0;
    margin-left: 9rem;
}

.represent h2 {
    color: rgb(17, 167, 134);
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}

.represent p {
    letter-spacing: 0.1rem;
    font-size: 1rem;
}

.represent button {
    border-radius: 0.1rem;
    border-style: none;
    background-color:rgb(17, 167, 134);
    margin-top: 2rem;
    width: 11.5rem;
    height: 3rem;
    text-transform: uppercase;
    font-family: nunito;
    color: white;
    letter-spacing: 1px;
    font-weight: bold;
}

.represent button:hover {
    background-color: rgba(17, 167, 134, 0.5);
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.design {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    height: 32rem;
    background-image: url("https://i.ibb.co/2jJwRTf/iphone-5c-flat.png");
    background-repeat: no-repeat;
    background-position: 15% -140%;
}

.design .content{
    height: 100%;
    width: 40%;
    padding: 9rem 0;
    margin-right: 9rem; 
}

.design h2 {
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    color: rgb(17, 167, 134);
}

.design p {
    letter-spacing: 0.1rem;
    font-size: 1rem;
}

.design  button {
    border-radius: 0.1rem;
    border-style: none;
    background-color:rgb(17, 167, 134);
    margin-top: 2rem;
    width: 11.5rem;
    height: 3rem;
    text-transform: uppercase;
    font-family: nunito;
    color: white;
    letter-spacing: 0.1rem;
    font-weight: bold;
}

.design button:hover {
    background-color: rgba(17, 167, 134, 0.5);
    color: rgb(255, 255, 255);
    cursor: pointer;
}
.community {
    background-color: #f7f7f7;
    display: flex;
    height: 25rem;
    justify-content: space-around;
    width: 100%;
}

.community #div1, #div2, #div3 {
    width: 33%;
}

.community #div1 {
    height: 20rem;
    margin: auto;
    text-align: center;
    padding: 5rem 0 0 8rem;
 }

 .community h2 {
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    color: rgb(0, 0, 0);
    margin: 1rem 0;
}

.community p {
    letter-spacing: 0.1rem;
    font-size: 1rem;
}

#div2{
    display: flex;
    justify-content: right;
    align-items:center;
    padding-right: 1rem;
}

#div2 figure{
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 2s;
    overflow: hidden;
}

#div2 figure:hover img{
    transform: scale(1.3);
    transition-duration: 5s;
}

#div3{
    display: flex;
    justify-content: left;
    align-items:center;
    padding-left: 1rem;
}

#div3 figure{
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 2s;
    overflow: hidden;
}

#div3 figure:hover img{
    transform: scale(1.3);
    transition-duration: 5s;
}

form {
    background: url("https://i.ibb.co/wWgXTK7/newsletter-bg.png") no-repeat center;
    background-size:cover;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 45rem;
    color: rgb(255, 255, 255);
}

#wrapper{
    font-size: 2rem;
    text-transform: uppercase;
}

#subscribe {
    height: 60px;
    display: flex; 
    display: flex;
    justify-content: center;  
}

.ion-icon {
    background: rgb(49, 51, 50);
    border-radius: 3px 0 0 3px;
    font-size: 2em;
    width: 60px;
    line-height: 60px;
    padding-left: 6px;
}

#email, .submit {
    border: none;
    outline: none;
}

#email {
    width: 0px;
    transition: 0.6s;
    text-transform: uppercase;
    font-family: nunito;
    font-weight: bold;
    letter-spacing: 1px;
    text-align: center;
}

form #subscribe:hover > #email,#email:focus {
    width: 260px;
    padding: 0 10px;
}

form .submit {
    background: rgb(17, 167, 134);
    border-radius: 0 3px 3px 0;
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    text-transform: uppercase;
    cursor: pointer;
    width: 60px;
    padding-left: 4px;
}

form ion-icon {
    font-size: 3rem;
    height: 60px;
    display: flex;
    justify-content: center;
    border: none;
    outline: none;
}

.download {
    width: 100%;
    height: 50vh;
    background-color: #f7f7f7;
    text-align: center;
    padding: 5rem 5rem 0 5rem;
}

.download h2 {
    text-transform: uppercase;
    width: 60%;
    margin: 0 auto;
}

.download p {
    font-size: 1rem;
    letter-spacing: 0.1rem;
    padding: 0 5rem 0 5rem;
    width: 60%;
    margin: 2rem auto;
}

#download {
    display: flex;
    height: 40px;
    justify-content: center;
    width: 60%;
    margin: 0 auto;
}

.applestore {
    margin-right: 0.5rem;
}

.playstore {
    margin-left: 0.5rem;
}

.button {
    display: inline-flex;
    height: 40px;
    padding: 0;
    background: rgb(17, 167, 134);
    border: none;
    outline: none;
    border-radius: 3px;
    font-family: nunito;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
}

.button:hover {
    background: rgb(17, 167, 134);
    background-color: rgba(17, 167, 134, 0.5);
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.button:active {
    background: rgb(7, 157, 124);
}

.button-text, .button-icon {
    display: inline-flex;
    align-items: center;
    padding: 0 24px;
    color: rgb(255, 255, 255);
    height: 100%;
}

.button-icon {
    font-size: 1.5rem;
    background: rgba(0, 0, 0, 0.08);
}

footer {
    display: flex;
    height: 25vh;
}

footer h3 {
    text-transform: uppercase;
}

.p {
    width: 50%;
    padding-left: 5rem;
    margin-top: 1rem;
}

.logo-img {
    width: 50%;
    text-align: right;
    padding: 1rem 5rem 0 0;
}

footer span {
    color: rgb(17, 167, 134);
}

footer p {
    font-weight: bold;
}

@media only screen and (width: 280px) {
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        font-size: 6px;
    }

    header{
        height: auto;
    }

    header .text{
        font-size: 1.5rem;
        font-weight: normal;
    }

    header img{
        width: 4rem;
    }

    .content-main p{
        font-size: 2rem;
    }

    .header-icons i{
        font-size: 3rem;
        letter-spacing: 3rem;
    }

    .content-main{
        width: 90%;
        margin: 10rem auto;
    }

    .content h2{
        font-size: 1rem;
    }

    .content p{
        font-size: 1.5rem;
        font-weight: bold;
        height: auto;
        color: rgb(255, 255, 255);
        line-height: 2rem;
        margin: 2rem 0;
    }

    .represent{
        height: auto;
        width: 280px;
        height: 400px;
        background: rgb(0, 0, 0) url("https://i.ibb.co/hWXDDdF/hand-with-iphone.png");
        background-size:65%;
        background-position: 0% 30%;
        background-repeat: no-repeat;  
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center; 
        padding: 2rem 0;        
    }

    .represent .content{
        margin: 0 auto;
        width: 90%;
        height: auto;
    }

    .represent h2{
        color: rgb(255, 255, 255);
        width: 100%;
        font-size: 2rem;
        margin-bottom: 20rem;
    }

    .represent p{
        color: rgb(255, 255, 255);
        font-size: 2rem;
        letter-spacing: 0.2rem;
        line-height: 2.2rem;
        width: 100%;
    }

    .represent button{
        width: 15rem;
        height: 4rem;
    }

    .design{
        height: auto;
        width: 280px;
        height: 400px;
        background: rgb(0, 0, 0) url("https://i.ibb.co/2jJwRTf/iphone-5c-flat.png");
        background-size:65%;
        background-position: 50% 30%;
        background-repeat: no-repeat;  
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center; 
        padding: 2rem 0;               
    }

    .design .content{
        margin: 0 auto;
        width: 90%;
        height: auto;
    }

    .design h2{
        color: rgb(255, 255, 255);
        width: 100%;
        font-size: 2rem;
    }

    .design p{
        font-size: 2rem;
        letter-spacing: 0.2rem;
        line-height: 2.2rem;
        padding: 0 1rem;
    }

    .design button{
        width: 15rem;
        height: 4rem;
    }

    .community {
        height: auto;
        display: flex;
        flex-direction: column;
        width: 280px;
    }

    .community #div1, #div2, #div3{
        width: 90px;
    }

    .community #div3{
        float: right;
    }

    .community img{
        width: 10rem;  
    }
}