* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(0,83,255);
    background: linear-gradient(45deg, rgba(0,83,255,1) 0%, rgba(38,130,255,1) 35%);
    font-family: 'Poppins', sans-serif;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

form {
    background-color: rgb(255, 255, 255);
    width: 300px; 
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.15);
}

.heading {
    font-size: 1.5rem;
    font-weight:700;
}

.email {
    margin-top: 1rem;
}

label {
    font-weight: bold;
    display: block;
}

input {
    border-radius: 3px;
    margin-bottom: 1rem;
    height: 2rem;
    width: 100%;
}

.remember--user {
    display: flex;
    align-items: center;
}

.col {
    display: flex;
    gap: 6px;
}

.check__box--square {
    
}

.remember--me {
    display: inline-block;
}

.remember--me label {
    font-weight: normal;
}

button {
    border: none;
    border-radius: 5px;
    background-color: #0053ff;
    color: rgb(255, 255, 255);
    width: 5rem;
    font-weight: bold;
    padding: 0.5rem;
}

button:hover {
    cursor: pointer;
}